@page "/about"

<div class="position-center-of-screen">
    <MudText Align="Align.Center">Написано задротом для задротов</MudText>
    <MudText Align="Align.Center">Автор: Falin</MudText>
</div>
@code {

}
